.zoom {
	position: relative;
	display: inline-block;
}

.zoom-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.zoom-icon svg {
	display: block;
}

.zoom img {
	width: auto !important;
	border-radius: 10px;
}