@media (max-width: 768px) {
	.side-slider .slick-slide {
		max-width: 100%;
		flex: 0 0 auto;
		width: 330px !important;
	}
	
	.row.blog-slider.side-slider .slick-slide {
		width: 310px !important;
	}

	.blog-slider>.slick-list {
		padding-right: 140px;
	}
}

@media (max-width: 767px) {
	.blog-slider>.slick-list {
		padding-right: 45px;
	}
}

.blog-slider>.slick-list {
	width: 100%;
}