.blog-slider {
	.slick-slide {
		width: 342px;
	}

	@media (max-width: 1023px) {
		margin-left: -12px;
		margin-right: -12px;

		.slick-list {
			padding-left: 6px;
			padding-right: 6px;
		}

		.blog-item {
			width: 342px;
			padding-left: 6px;
			padding-right: 6px;
		}
	}

	@media (max-width: 768px) {
		.blog-item {
			width: 310px;
		}
	}
}