.home-seo {
	position: relative;
}

.home-seo__content {
	padding: 82px 0 145px;
}

.home-seo__content p {
	margin-bottom: 24px;
	max-width: 526px;
}

.home-seo__content p:last-child {
	margin-bottom: 0;
}

.home-seo__img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 194px;
	margin-top: -30px;
}

@media (max-width: 1800px) {
	.home-seo__img {
		right: 12px;
		max-width: 55vw;
	}
}

@media (max-width: 1367px) {
	.home-seo__img {
		max-width: 50vw;
	}
}

@media (max-width: 1200px) {
	.home-seo__content {
		padding: 0;
	}

	.home-seo__img {
		max-width: 45vw;
	}
}

@media (max-width: 768px) {
	.home-seo__img {
		display: none;
	}

	.home-seo__content p {
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.home-seo__content p {
		margin-bottom: 18px;
	}
}