.home-seo {
	position: relative;
}

.home-seo__content {
	padding: 82px 0 145px;
}

.home-seo__content p {
	margin-bottom: 24px;
	max-width: 526px;
}

.home-seo__content p:last-child {
	margin-bottom: 0;
}

.home-seo__img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: calc(50% - 766px);
	margin-top: -30px;
}

@media (max-width: 1550px) {
	.home-seo__img {
		right: 12px;
		max-width: min(55%, 100% - 526px - 48px);
	}
}

@media (max-width: 1200px) {
	.home-seo__content {
		padding: 0;
	}
}

@media (max-width: 992px) {
	.home-seo__img {
		display: none;
	}

	.home-seo__content p {
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.home-seo__content p {
		margin-bottom: 18px;
	}
}