@use "@scss/fn";

.home {
	background: url("/img/home-bg.png") no-repeat center center;
	background-size: 100% 100%;
	position: relative;
	padding: 241px 0 181px;
}

.home .container {
	position: relative;
}

.home-map {
	position: absolute;
	pointer-events: none;
	left: -125px;
	top: -82px;
}

.home-content {
	max-width: 531px;
	position: relative;
	z-index: 2;
}

.home-img {
	position: absolute;
	top: calc(50% + fn.rs(50px, 86px, 992px, 1844px));
	transform: translateY(-50%);
	right: calc(50% - 910px);
	pointer-events: none;
}

.home--inner {
	padding-top: 242px;
	padding-bottom: 156px;
	margin-bottom: 60px;
	min-height: 680px;
}

@media (max-width: 1844px) {
	.home-img {
		right: 12px;
		max-width: min(50%, 100% - 531px - 24px);
		
	}
}

@media (max-width: 992px) {
	.home-img {
		display: none;
	}

	.home-content {
		max-width: none;
	}

	.home-map {
		left: 50%;
		transform: translateX(-50%);
		max-width: 500px;
		top: -60px;
	}
}

@media (max-width: 768px) {
	.home {
		padding: 160px 0 120px;
	}

	

	.home--inner {
		min-height: 500px;
	}
}

@media (max-width: 767px) {
	.home {
		padding-top: 136px;
		padding-bottom: 84px;
		background: url("/img/home-bg-mob.png") no-repeat center center;
		background-size: 100% 100%;
		min-height: 470px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.home--inner {
		margin-bottom: 30px;
	}

	.home-map {
		top: 0;
		max-width: 325px;
	}
}