@media (max-width: 1022.98px) {
	.object-home .object-item {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
		max-width: 342px;
	}

	.object-home .row {
		flex-wrap: nowrap;
		margin-bottom: 0;
		justify-content: stretch !important;
		margin: 0 -12px;
		padding-left: 6px;
		padding-right: 6px;
		overflow-x: auto;
		overflow-y: hidden;
		padding-bottom: 15px;
	}

	.object-home .object-item {
		padding: 0 6px;
		width: 100%;
		flex: 0 0 auto;
	}
}

@media (max-width: 768px) {
	.object .row {
		margin-bottom: -40px;
	}

	.object-home .object-item {
		max-width: 310px;
	}
}